USE [RecruitmentSystem]
GO
/****** Object:  Table [dbo].[LichHenPhongVan]    Script Date: 11/9/2025 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichHenPhongVan](
	[LichHenID] [int] IDENTITY(1,1) NOT NULL,
	[UngTuyenID] [int] NOT NULL,
	[NgayHen] [datetime] NULL,
	[DiaDiem] [nvarchar](255) NULL,
	[NguoiPhongVan] [nvarchar](150) NULL,
	[NoiDungThu] [nvarchar](max) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NgayGuiThu] [datetime] NULL,
	[EmailUngVien] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LichHenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaTuyenDung]    Script Date: 11/9/2025 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaTuyenDung](
	[NTDID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TenCongTy] [nvarchar](200) NOT NULL,
	[MaSoThue] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[LinhVuc] [nvarchar](150) NULL,
	[MoTa] [nvarchar](max) NULL,
	[Website] [nvarchar](255) NULL,
	[LogoURL] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[NTDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 11/9/2025 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotiID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/9/2025 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongKeTuyenDung]    Script Date: 11/9/2025 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongKeTuyenDung](
	[ThongKeID] [int] IDENTITY(1,1) NOT NULL,
	[NTDID] [int] NOT NULL,
	[ThangNam] [char](7) NOT NULL,
	[SoTinDang] [int] NOT NULL,
	[SoUngVienUngTuyen] [int] NOT NULL,
	[SoHoSoTrungTuyen] [int] NOT NULL,
	[TyLeThanhCong] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ThongKeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ThongKe_NTD_Thang] UNIQUE NONCLUSTERED 
(
	[NTDID] ASC,
	[ThangNam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuyenDung]    Script Date: 11/9/2025 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuyenDung](
	[TinID] [int] IDENTITY(1,1) NOT NULL,
	[NTDID] [int] NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[YeuCau] [nvarchar](max) NULL,
	[MucLuong] [nvarchar](100) NULL,
	[DiaDiemLamViec] [nvarchar](255) NULL,
	[LoaiHinhCongViec] [nvarchar](100) NULL,
	[HanNop] [date] NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TinID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UngTuyen]    Script Date: 11/9/2025 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UngTuyen](
	[UngTuyenID] [int] IDENTITY(1,1) NOT NULL,
	[UngVienID] [int] NOT NULL,
	[TinID] [int] NOT NULL,
	[NgayUngTuyen] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UngTuyenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UngVien]    Script Date: 11/9/2025 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UngVien](
	[UngVienID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](255) NULL,
	[GioiTinh] [nvarchar](20) NULL,
	[HocVan] [nvarchar](500) NULL,
	[KyNang] [nvarchar](max) NULL,
	[KinhNghiem] [nvarchar](max) NULL,
	[CVLink] [nvarchar](500) NULL,
	[MoTaBanThan] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UngVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/9/2025 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LichHenPhongVan] ADD  CONSTRAINT [DF_LHPV_TrangThai]  DEFAULT (N'Đang chờ phản hồi') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Notification] ADD  CONSTRAINT [DF_Notification_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notification] ADD  CONSTRAINT [DF_Notification_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ThongKeTuyenDung] ADD  DEFAULT ((0)) FOR [SoTinDang]
GO
ALTER TABLE [dbo].[ThongKeTuyenDung] ADD  DEFAULT ((0)) FOR [SoUngVienUngTuyen]
GO
ALTER TABLE [dbo].[ThongKeTuyenDung] ADD  DEFAULT ((0)) FOR [SoHoSoTrungTuyen]
GO
ALTER TABLE [dbo].[TinTuyenDung] ADD  CONSTRAINT [DF_Tin_TrangThai]  DEFAULT (N'Đang hiển thị') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TinTuyenDung] ADD  CONSTRAINT [DF_Tin_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UngTuyen] ADD  CONSTRAINT [DF_UngTuyen_Ngay]  DEFAULT (getdate()) FOR [NgayUngTuyen]
GO
ALTER TABLE [dbo].[UngTuyen] ADD  CONSTRAINT [DF_UngTuyen_TrangThai]  DEFAULT (N'Đã nộp') FOR [TrangThai]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LichHenPhongVan]  WITH CHECK ADD  CONSTRAINT [FK_LHPV_UngTuyen] FOREIGN KEY([UngTuyenID])
REFERENCES [dbo].[UngTuyen] ([UngTuyenID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichHenPhongVan] CHECK CONSTRAINT [FK_LHPV_UngTuyen]
GO
ALTER TABLE [dbo].[NhaTuyenDung]  WITH CHECK ADD  CONSTRAINT [FK_NTD_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhaTuyenDung] CHECK CONSTRAINT [FK_NTD_User]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[ThongKeTuyenDung]  WITH CHECK ADD  CONSTRAINT [FK_ThongKe_NTD] FOREIGN KEY([NTDID])
REFERENCES [dbo].[NhaTuyenDung] ([NTDID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongKeTuyenDung] CHECK CONSTRAINT [FK_ThongKe_NTD]
GO
ALTER TABLE [dbo].[TinTuyenDung]  WITH CHECK ADD  CONSTRAINT [FK_Tin_NTD] FOREIGN KEY([NTDID])
REFERENCES [dbo].[NhaTuyenDung] ([NTDID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TinTuyenDung] CHECK CONSTRAINT [FK_Tin_NTD]
GO
ALTER TABLE [dbo].[UngTuyen]  WITH CHECK ADD  CONSTRAINT [FK_UngTuyen_Tin] FOREIGN KEY([TinID])
REFERENCES [dbo].[TinTuyenDung] ([TinID])
GO
ALTER TABLE [dbo].[UngTuyen] CHECK CONSTRAINT [FK_UngTuyen_Tin]
GO
ALTER TABLE [dbo].[UngTuyen]  WITH CHECK ADD  CONSTRAINT [FK_UngTuyen_UngVien] FOREIGN KEY([UngVienID])
REFERENCES [dbo].[UngVien] ([UngVienID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UngTuyen] CHECK CONSTRAINT [FK_UngTuyen_UngVien]
GO
ALTER TABLE [dbo].[UngVien]  WITH CHECK ADD  CONSTRAINT [FK_UngVien_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UngVien] CHECK CONSTRAINT [FK_UngVien_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
/****** Object:  StoredProcedure [dbo].[sp_Application_Create]    Script Date: 11/9/2025 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Application_Create]
    @UngVienID INT,
    @TinID     INT,
    @GhiChu    NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- validate tồn tại
    IF NOT EXISTS (SELECT 1 FROM dbo.UngVien WHERE UngVienID = @UngVienID)
        THROW 50001, N'Không tìm thấy hồ sơ ứng viên.', 1;

    IF NOT EXISTS (SELECT 1 FROM dbo.TinTuyenDung WHERE TinID = @TinID AND TrangThai = N'Đang hiển thị')
        THROW 50002, N'Không tìm thấy tin tuyển dụng hợp lệ.', 1;

    INSERT INTO dbo.UngTuyen(UngVienID, TinID, GhiChu)
    VALUES (@UngVienID, @TinID, @GhiChu);

    DECLARE @NewID INT = SCOPE_IDENTITY();

    -- trả về bản ghi vừa tạo + thông tin tin & NTD
    SELECT ut.UngTuyenID, ut.UngVienID, ut.TinID, ut.NgayUngTuyen, ut.TrangThai, ut.GhiChu,
           t.TieuDe, t.NTDID, n.TenCongTy
    FROM dbo.UngTuyen ut
    JOIN dbo.TinTuyenDung t ON t.TinID = ut.TinID
    JOIN dbo.NhaTuyenDung n ON n.NTDID = t.NTDID
    WHERE ut.UngTuyenID = @NewID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Application_ListByJob]    Script Date: 11/9/2025 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Application_ListByJob]
    @TinID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ut.UngTuyenID, ut.UngVienID, ut.TinID, ut.NgayUngTuyen, ut.TrangThai, ut.GhiChu,
           uv.UserID, u.FullName, u.Email, u.Phone,
           uv.NgaySinh, uv.DiaChi, uv.GioiTinh, uv.HocVan, uv.KyNang, uv.KinhNghiem, uv.CVLink
    FROM dbo.UngTuyen ut
    JOIN dbo.UngVien uv ON uv.UngVienID = ut.UngVienID
    JOIN dbo.[User] u ON u.UserID = uv.UserID
    WHERE ut.TinID = @TinID
    ORDER BY ut.NgayUngTuyen DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Application_ListByUser]    Script Date: 11/9/2025 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Application_ListByUser]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @UngVienID INT = (SELECT UngVienID FROM dbo.UngVien WHERE UserID = @UserID);
    IF @UngVienID IS NULL
        THROW 50003, N'User chưa có hồ sơ ứng viên.', 1;

    SELECT ut.UngTuyenID, ut.TinID, ut.NgayUngTuyen, ut.TrangThai, ut.GhiChu,
           t.TieuDe, t.NTDID, n.TenCongTy
    FROM dbo.UngTuyen ut
    JOIN dbo.TinTuyenDung t ON t.TinID = ut.TinID
    JOIN dbo.NhaTuyenDung n ON n.NTDID = t.NTDID
    WHERE ut.UngVienID = @UngVienID
    ORDER BY ut.NgayUngTuyen DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Application_UpdateStatus]    Script Date: 11/9/2025 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Application_UpdateStatus]
    @UngTuyenID INT,
    @TrangThai  NVARCHAR(50),
    @GhiChu     NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.UngTuyen
    SET TrangThai = @TrangThai,
        GhiChu    = @GhiChu
    WHERE UngTuyenID = @UngTuyenID;

    IF @@ROWCOUNT = 0
        THROW 50004, N'Không tìm thấy hồ sơ ứng tuyển.', 1;

    SELECT ut.UngTuyenID, ut.UngVienID, ut.TinID, ut.NgayUngTuyen, ut.TrangThai, ut.GhiChu
    FROM dbo.UngTuyen ut
    WHERE ut.UngTuyenID = @UngTuyenID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Employer_Statistics]    Script Date: 11/9/2025 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Employer_Statistics]
    @NTDID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Result set 1: các tổng số cơ bản
    SELECT
        @NTDID AS NTDID,
        (SELECT COUNT(*) FROM dbo.TinTuyenDung WHERE NTDID=@NTDID)                        AS TongSoTin,
        (SELECT COUNT(*) FROM dbo.UngTuyen ut 
            JOIN dbo.TinTuyenDung t ON t.TinID=ut.TinID WHERE t.NTDID=@NTDID)             AS TongSoUngTuyen,
        (SELECT COUNT(*) FROM dbo.UngTuyen ut 
            JOIN dbo.TinTuyenDung t ON t.TinID=ut.TinID 
         WHERE t.NTDID=@NTDID AND ut.TrangThai IN (N'Đã duyệt', N'Trúng tuyển', N'Đã nhận')) AS SoHoSoQuaVong;

    -- Result set 2 (tùy front dùng): theo tháng để vẽ chart
    SELECT FORMAT(ut.NgayUngTuyen,'yyyy-MM') AS Thang, COUNT(*) AS SoLuong
    FROM dbo.UngTuyen ut
    JOIN dbo.TinTuyenDung t ON t.TinID = ut.TinID
    WHERE t.NTDID = @NTDID
    GROUP BY FORMAT(ut.NgayUngTuyen,'yyyy-MM')
    ORDER BY Thang;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Interview_Confirm]    Script Date: 11/9/2025 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Interview_Confirm]
    @LichHenID INT,
    @TrangThai NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.LichHenPhongVan
    SET TrangThai = @TrangThai,
        NgayGuiThu = GETDATE()
    WHERE LichHenID = @LichHenID;

    IF @@ROWCOUNT = 0
        THROW 50005, N'Không tìm thấy lịch hẹn phỏng vấn.', 1;

    SELECT LichHenID, UngTuyenID, NgayHen, DiaDiem, NguoiPhongVan, NoiDungThu, TrangThai, NgayGuiThu, EmailUngVien
    FROM dbo.LichHenPhongVan
    WHERE LichHenID = @LichHenID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Interview_ListByEmployer]    Script Date: 11/9/2025 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Interview_ListByEmployer]
    @NTDID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT i.LichHenID, i.UngTuyenID, i.NgayHen, i.DiaDiem, i.NguoiPhongVan, 
           i.NoiDungThu, i.TrangThai, i.NgayGuiThu, i.EmailUngVien,
           ut.TinID, t.TieuDe,
           uv.UngVienID, u.FullName, u.Email, u.Phone
    FROM dbo.LichHenPhongVan i
    JOIN dbo.UngTuyen ut   ON ut.UngTuyenID = i.UngTuyenID
    JOIN dbo.TinTuyenDung t ON t.TinID = ut.TinID
    JOIN dbo.UngVien uv    ON uv.UngVienID = ut.UngVienID
    JOIN dbo.[User] u      ON u.UserID = uv.UserID
    WHERE t.NTDID = @NTDID
    ORDER BY i.NgayHen DESC, i.LichHenID DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Notification_List]    Script Date: 11/9/2025 8:19:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Notification_List]
    @UserID INT,
    @OnlyUnread BIT = 0
AS
BEGIN
    SET NOCOUNT ON;

    SELECT NotiID, UserID, TieuDe, NoiDung, IsRead, CreatedAt
    FROM dbo.Notification
    WHERE UserID = @UserID
      AND (@OnlyUnread = 0 OR IsRead = 1-1)  -- OnlyUnread=1 -> IsRead=0
    ORDER BY CreatedAt DESC, NotiID DESC;
END
GO
